* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/background.png);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#quiz-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-title {
    margin-top: 12px;
    font-size: 2rem;
    color: #0D6EFD;
    text-align: center;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
}

.question-title {
    font-weight: 600;
}

.quìz-form-button {
    margin-bottom: 16px;
    text-align: center;

    .btn {
        border-radius: 8px;
        font-weight: 500;
        padding: 12px 24px;
        font-size: 1.5rem;
    }
}

.question-write-container,
.question-write-content,
.question-write-container,
.question-write {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.is-invalid {
    border-color: red !important;
    background-color: #fff0f0 !important;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    display: none;
}

.container-result {
    padding: 54px 0;
}

.result-image {
    text-align: center;
}

.result-content-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    div {
        color: black;
    }
}

.result-content-header-title {
    span {
        font-weight: 600;
    }
    font-size: 20px;
    text-align: center;
}

.result-content-header-info,
.result-content-header-mssv {
    font-size: 14px;
    font-style: italic;
}

.result-content-header-mssv {
    span {
        font-weight: 600;
    }
}

.result-content-header-subtitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.result-content-body-cover {
    display: flex;
    justify-content: center;
}

.result-content-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    border-radius: 24px;
    padding: 24px
}

.result-content-body-title {
    font-weight: 700;
    font-size: 12px;
}

.result-content-body-subtitle {
    display: flex;
    gap: 4px;
}

.result-content-body-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBF34E;
    border-radius: 12px;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 12px;
    color: #017CC2;
    width: 48px;
}

.result-content-body-job {
    color: #017CC2;
    font-weight: 700;
}

.result-content-body-cover-subtitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.result-content-footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.result-content-btn-download {
    background-color: #017CC2;
    font-weight: 700;
    border: none;
}

.result-content-btn-close {
    background-color: #B8B8B8;
    font-weight: 700;
    border: none;
}

.print-mode {
    background-image: url(/background.png);
    background-size: cover;
    background-color: white !important;
    color: black !important;
    box-shadow: none !important;
    filter: none !important;
    opacity: 1 !important;
    padding: 24px 0;
}

.result-cover {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

#content-to-print {
    padding: 24px 0;
}

.loading-container {
    position: absolute;
}

.print-mode {
    width: 1200px;
    padding: 24px;
}

.print-mode .result-content-body {
    max-width: unset !important;
    min-width: unset !important;
    width: 100% !important;
}

@media (max-width: 576px) {
    .result-content-body {
        max-width: 530px;
    }
}

@media (min-width: 768px) {
    .result-content-body {
        min-width: 530px;
    }
}

@media (min-width: 992px) {
    .result-content-body {
        min-width: 530px;
    }
}

@media (min-width: 1200px) {
    .result-content-body {
        min-width: 530px;
    }
}

@media (min-width: 1400px) {
    .result-content-body {
        min-width: 530px;
    }
}

.required {
    content: "*";
    color: red;
}
